@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecf0f3;
  overflow-x: hidden;
}

.container {
  position: absolute;
  height: 60vh;
  padding: 60px 35px 35px 35px;
  border-radius: 30px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

input,
button {
  outline: none;
}

input {
  color: black;
  width: 320px;
  height: 60px;
  padding: 15px;
  text-align: right;
  border: none;
  border-radius: 10px;
  text-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  letter-spacing: 2px;
  background: transparent;
}

.keywords {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;
  margin-top: 20px;
}

button {
  margin-left: 5px;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #e9e9e9;
}

/*button::after :hover {
  background: #ccc;
} */

button :hover {
  background : #CCC;
}

button:active {
  background: #ccc;
}

@media only screen and (max-width: 768px) {
  body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .container {
    height: fit-content;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    position: absolute;
  }

  input {
    margin-top: 15px;
    width: 320px;
    height: 60px;
    padding: 15px;
    text-align: right;
  }

  button {
    width: 60px;
    height: 30px;
    border-radius: 10px;
  }
}
